#Cmake generation results
build/vc*/
build/linux/
build/.ant-targets-build.xml

#Poney generated stuffs
build/poney/

#Retrieved externals
build/externals/

#Installation output
Out
dist

# Bin content
*/Bin/
!/Bin/*.ttf
!/Bin/Meshes/
!/Bin/Samples/
!/Bin/Tests/

